*{
    margin: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 1.5px solid transparent;
}

.border:hover{
    border: 1.5px solid white;
}

.add-icon{
    display: flex;
    align-items: center;
}

.add-first{
    color: #cccccc;
    font-size: 0.70rem;
    margin-left: 18px;
}

.add-sec{
    font-size: 1rem;
    margin-left: 01px;
}
/* box3 */
.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}

.nav-search:hover{
    border: 2px solid orange;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}


.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: rgb(255, 166, 0);
    color: black;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}


/* box4 */
.nav-signin span{
    font-size: 0.7rem;
}

.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}

/* box5 */
.nav-return span{
    font-size: 0.7rem;
}

/* box6 */
.nav-cart i{
    font-size: 26px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/* Panel*/
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
}

.panel-opt p{
    display: inline;
    margin-left: 14px;
}

.panel-opt{
    width: 76%;
    font-size: 0.85rem;
}

.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

/* hero section */
.hero-section{
    background-image: url("images/hero_image.jpg");
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    border-radius: 6px;
    background-color: darkgray;
    color: black;
    height: 40px;
    width: 98%;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}

.hero-msg a{
    color: #007185;
    text-decoration: none;
}

/* shop section */

.shop-section{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #e2e7e6;
}

.box{
    height: 400px;
    border: none;
    width: 23.5%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 0.4rem;
}

.box-img{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 0.9rem ;
    margin-bottom: 0.9rem;
}

.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p{
    color: #007185;
}

/* footer */
footer{
    margin-top: 15px;
}
.foot-panel1{
    height: 50px;
    background-color: #37475a;
    color: white;
    font-size: 0.85rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.foot-panel2{
    height: 300px;
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
}

.foot-panel2 ul {
    margin-top: 20px;
}
.foot-panel2 ul a{
    display: block;
    color: #dddddd;
    text-decoration: none;    
    font-size: 0.85rem;
    margin-top: 10px;
}

.foot-panel3{
    background-color: #222f3d;
    border-top: 0.5px solid white;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-image: url("images/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.foot-panel4 {
    background-color: #0f1111;
    color: white;
    height: 75px;
    padding-left: 70px;
    font-size: 0.8rem;
    text-align: center;
}

.foot-panel4 a{
    color: white;
    text-decoration: none;
    padding-left: 12px;
}

.pages{
    padding-top: 25px;
}

.copyright{  
    margin-top: 6px;
}